:css
  .multi-repeating-linear[data-month='#{month}'] {
    height: 100%;
    width: 100%;
    background: #{render 'pages/background_style', local_assigns };
    background-blend-mode: multiply;
    background-size: 102% 102%;
  }
