%section#dashboard-section
  .graph
    .title.pull-right
      .period-box.text-center
        2017.10.18 ~ 2017.10.21
      %div{style:"margin:20px 0px;"}
        Sailing
        %br
        Diary
        %br
        %span{style:"display:block;margin-top:-10px;"}
          A week
  .feed
    %h3
      how was your day?
    .show-item
      = render :partial => 'items/show', :locals => {:id => 4000}
