html,body{
  height: 100%;
}
*,
body {
    font-family: 'Source Han Sans KR', 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
}

body{
  background-color: #eeeeee;
}

.btn{
  box-shadow: 2px 2px 0px #6663c3;
  background-color: #b39fdc;
  border-radius: 2px;
  border: 0px;
  padding: 10px 30px;
  &:hover{
    background-color: #7B78EB;
  }
}

a{
  color: dimgray;
}

label{
  color: dimgray;
  border-bottom: 1px solid dimgray;
  padding: 0px 0px 5px 0px;
  margin-bottom: 20px
}

.navbar{
  background-color: #b39fdc;
  margin-bottom: 0px;
}
