#welcome-section{
  height: 100%;
  background-color: #A38AD4;
  padding-top: 280px;
  h2{
    color: white;
    font-weight: 900;
    font-size: 60px;
    line-height: 90px;
  }
  .title-box{
    width: 450px;
    margin: 0 auto;
    .btn-default{
      width: 100%;
      background-color: white;
      color: black;
      font-size: 60px;
      font-weight: 900;
      margin-top: 30px;
    }
  }
}
.header-title{
  color: white;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 0.2em;
}

#main-title{
  font-size: 36px;
  color: dimgray;
  font-weight: 200;
  margin: 50px 20px;
  span.text-bold{
    font-weight: 600;
  }
  p{
    margin-top: 20px;
  }
}
