#show-area{
  height: 100%;
  padding: 20px;

  p.content{
    color: white;
    font-size: 30px;
    font-weight: 900;
  }

  .meta{
    border-top: 1px solid white;
    padding: 20px 0px;
    color: white;
    line-height: 30px;
    bottom: 0;
    img{
      width: 22px;
      height: 22px;
    }
  }
}

