

#show-section{
  height: 100%;
  background-image: -webkit-linear-gradient(#fa8dbe 0%, #fcedb7 49%, #79d7fc 100%);
  background-image: -moz-linear-gradient(#fa8dbe 0%, #fcedb7 49%, #79d7fc 100%);
  background-image: -o-linear-gradient(#fa8dbe 0%, #fcedb7 49%, #79d7fc 100%);
  background-image: linear-gradient(#fa8dbe 0%, #fcedb7 49%, #79d7fc 100%);
  padding: 20px;

  p.content{
    color: white;
    font-size: 30px;
    font-weight: 900;
  }

  p.meta{
    border-top: 1px solid white;
    padding: 20px 0px;
    color: white;
  }
}

