#show-area{
  height: 100%;
  padding: 20px;
  width: 100%;

  p.content{
    color: white;
    font-size: 30px;
    font-weight: 500;
  }

  .meta{
    border-top: 1px solid white;
    padding: 10px 0px;
    color: white;
    line-height: 30px;
    bottom: 0;
    img{
      width: 45px;
      height: 45px;
    }
  }
}

